<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zamgu.midoconline">

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <service android:name=".SinchService"></service>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menujava">
        </activity>
        <activity android:name=".ingresarjava">
        </activity>
        <activity android:name=".terminos">
        </activity>
        <activity android:name=".principal2java">
        </activity>
        <activity android:name=".registrojava">
        </activity>
        <activity android:name=".registropjava">
        </activity>
        <activity android:name=".elegirjava">
        </activity>
        <activity android:name=".homepacientejava">
        </activity>
        <activity android:name=".homemedicojava">
        </activity>
        <activity android:name=".perfilpacientejava">
        </activity>
        <activity android:name=".perfilmedicojava">
        </activity>
        <activity android:name=".historialjava">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".CallScreenActivity"/>
        <activity android:name=".IncomingCallScreenActivity" android:screenOrientation="portrait" android:noHistory="true"/>
        <activity android:name=".PlaceCallActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>